header{ 
    background: darkolivegreen;
}

.main-header{
   padding: 0;
}

.top-bar{
    padding: 0;
    font-size: 12px;
    border-bottom: .4px solid black;
    min-height: 0px;
}


.site-title{
    color: #ffffff;
}


